<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GSpot</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
    <main>
        <section class="top_section">
        	<header>
        <div class="header_container">
            <div class="header_left">
            <img src="../../img/left_header_pic.png" alt="">
            <br>
            <img src="../../img/left_header_pic2.png" alt="">
        </div>
        <div class="header_right">
     <ul class="nav">
     <li><a href="#" class="current">Рецепты</a></li>
     <li><a href="#">О проекте</a></li>
     <li><a href="#">Блог</a></li>
     <li><a href="#">Контакты</a></li>
     </ul>  
        </div>
        <div class="buttons_top">
                    <button class="ButtonPurp">
                       Создать меню
                     </button>
                     <span class="spanHead">
                     	ENTER
                     </span>
            <img src="../../img/search.png" alt="" class="topImage">
                </div>
            </div>
                
    </header>
            <img src="../../img/gspotBig.png" alt="">
            <p class="top_section__p">Рамки обучения позволяет оценить значение модели развития. Задача организациии, в
            <br> особенности же, новая модель деятельности обеспечивает широкому кругу участие в
            <br> формировании позиции, занимаемых в отношении поставленых задач.
             <p>
            <button class="ButtonPurp2">
                Создать свое меню
            </button>
            <br>
            <div class="buttonLight2">
            	<div class="buttonLight1">
            		<i class="fas fa-arrow-down"></i>
            	</div>
            </div>
        </section>
        <section class="cardBlock">
            <h3>Чем полезен GSpot?</h3>
            <div class="cardsContainer">
                <div class="cards">
                    <div class="topCard">
                        <img src="../../img/Cards3.png" alt="">
                    </div>
                    <div class="bottomCard">
                    	<h5>Решает проблему выбора</h5>
                    	<p class="firstP">GSpot подскажет что тебе приготовить,
                    	<br> чтобы питаться вкусно и полезно.</p>
                    </div>
            </div>
            <div class="cards">
                    <div class="topCard">
                        <img src="../../img/cards2.png" alt="">
                    </div>
                    <div class="bottomCard">
                    	<h5>Решает проблему выбора</h5>
                    	<p class="firstP">Позволит распланировать покупки
                    	<br> продуктов, используя удобный интерфейс.</p>
                    </div>
            </div>
            <div class="cards">
                    <div class="topCard">
                        <img src="../../img/Cards3.png" alt="">
                    </div>
                    <div class="bottomCard">
                    	<h5>Решает проблему выбора</h5>
                    	<p class="firstP">Подробный спискок покупок сэкономит
                    	<br> время и исключит лишние растраты.</p>
                    </div>
            </div>
            </div>
        </section>
        <section class="whattodo">
        	<div class="wrapper">
        		<div class="main__about">
        			<div class="about__left">
					<h1>Как это работает?</h1> 
					<ul>
						<li>Перейди в раздел календаря</li>
						<li>Заполни свое меню блюдами из каталога</li>
						<li>Получи подробный список ингредиентов для покупки</li>
						<li>Узнай, где можно приобрести выбранные товары</li>
					</ul>
					<button class="ButtonPurp2">
							Создай свое меню
						</button>
				</div>
				<div class="about__right">
					<img src="../../img/aboutpic.png" alt="">
				</div>

        		</div>
        	</div>
        </section>
        <section class="recipesec">
        		<div class="recipesec__top">
        			<h1>Последние статьи</h1>
        			<button>Все статьи</button>
        		</div>
        		<div class="recipesec__cards">
        			<div class="card">
        				<div class="top-card">
        					<img src="../../img/item1.jpg" class="recipesec__image" alt="">
        				</div>
        				<div class="bottom-card">
        					<h2>Здоровый выбор шеф-повара 
        					<br> Shimo Nakamura
        					</h2>
        					<p>Разнообразный и богатый опыт начало 
        					<br>повседневной работы по формированию 
        					<br>позиции обеспечивает широкому...
        					</p>
  							<button>24.08.2018 | Руководства</button>
        				</div>
        			</div>
        			<div class="card">
        				<div class="top-card">
        					<img src="../../img/item2.jpg" class="recipesec__image" alt="">
        				</div>
        				<div class="bottom-card">
        					<h2>Ягодный микс: заряд бодрости 
        					<br>на весь день</h2>
        					<p>Разнообразный и богатый опыт начало 
        					<br>повседневной работы по формированию 
        					<br>позиции обеспечивает широкому...
        					</p>
  							<button>24.08.2018 | Руководства</button>
        				</div>
        				<button>domeplease!!!</button>
        			</div>
        			<div class="card">
        				<div class="top-card">
        					<img src="../../img/item3.jpg" class="recipesec__image" alt="">
        				</div>
        				<div class="bottom-card">
        					<h2>Спортивное питание от Олеси
        					<br> Головиной</h2>
        					<p>Разнообразный и богатый опыт начало 
        					<br>повседневной работы по формированию 
        					<br>позиции обеспечивает широкому...
        					</p>
  							<button>24.08.2018 | Руководства</button>
        				</div>
        		</div>

        </section>
        <section class="feedback">
        	<div class="wrapper">
        		<div class="feedback_main">
        		<div class="feedback__left">
        			<img src="../../img/feedbackwoman.jpg" alt="">

        		</div>
        		<div class="feedback_right">
        			<h1>Отзывы пользователей</h1>
        			<h6>Александра</h6>
        			<p>Равным образом дальнейшее развитие различных форм деятельности требуют от нас анализа 
        			<br>модели развития. Задача организации, в особенности же консультация с широким активом
        			<br>представляет собой интересный эксперимент проверки новых предложений.
        			</p>
        			<button class="feedback__button">Открыть профиль</button>
        		</div>
        	</div>
        	</div>
        </section>
        <footer>
        	<div class="footer">
        			<div class="footer__left">
						<img src="../../img/left_header_pic.png" alt="">
						<br>
						<img src="../../img/left_header_pic2.png" alt="">
						<div class="f1">
								<i class="fab fa-facebook-f"></i>
								<i class="fab fa-facebook-f"></i>
								<i class="fab fa-facebook-f"></i>
								<i class="fab fa-facebook-f"></i>
						</div>
        			</div>
        			<div class="footer__center">
        				<h5 class="footer__gspot">G-SPOT</h5>
        				<ul>
        				<li>Рецепты</li>
        				<li>О проекте</li>
        				<li>Блог</li>
        				<li>Контакты</li>
        				</ul>
        			</div>
        			<div class="footer__right">
        				<h5>О ПРОЕКТЕ</h5>
        				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae veritatis magnam fugiat aspernatur assumenda dicta libero eveniet quisquam autem, dignissimos commodi, est perspiciatis dolorum sint debitis. Esse doloribus, reprehenderit autem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est fugiat hic earum ex porro dolor illo magni maxime eos, beatae quis assumenda quibusdam consequatur laudantium autem repellendus pariatur neque, possimus?</p>
        			</div>
        		</div>
        		<h6>© 2018 Greenspot</h6>
        </footer>
    </main>
</body>
</html>