<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GSpot</title>
	<link rel="stylesheet" href="fontello.css">
	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
	
	
	<section class="title title_main">
		
		<header> 
		<!-- <header class="menu-active"></header> -->
			<div class="container header_container">
				<div class="header_left">
					<img src="../../img/logo.svg" alt="G-Spot" width="146">
				</div>
				<nav class="header_middle">
					<ul class="nav">
						<li><a href="#" class="current">Рецепты</a></li>
						<li><a href="#">О проекте</a></li>
						<li><a href="#">Блог</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
					
					<div class="header_catalog">
						<div class="header_catalog_tabs">
							<span class="active">По категориям</span>
							<span>По приемам пищи</span>
						</div>
						<ul class="header_subnav">
							<li class="header_subnav_item">
								<a href="#">
									<img src="../../img/img-mock.png" alt="Вегетарианское меню">
									<span>Вегетарианское меню</span>
								</a>
							</li>
							<li class="header_subnav_item">
								<a href="#">
									<img src="../../img/img-mock.png" alt="Для детей">
									<span>Для детей</span>
								</a>
							</li>
							<li class="header_subnav_item">
								<a href="#">
									<img src="../../img/img-mock.png" alt="Низкокалорийное">
									<span>Низкокалорийное</span>
								</a>
							</li>
							<li class="header_subnav_item">
								<a href="#">
									<img src="../../img/img-mock.png" alt="Постное меню">
									<span>Постное меню</span>
								</a>
							</li>
							<li class="header_subnav_item">
								<a href="#">
									<img src="../../img/img-mock.png" alt="Для диабетиков">
									<span>Для диабетиков</span>
								</a>
							</li>
						</ul>
					</div>

				</nav>
				<div class="header_right">
					<button class="btn btn__color-default">Создать меню</button>
					<button class="btn btn__color-transparent">Вход</button>
					<span class="search_btn icon-search"></span>
				</div>
				<div class="header_search">
					<input type="text" name="" placeholder="Найти рецепты">
					<button>
						<i class="icon-search"></i>
					</button>
				</div>
			</div>
		</header>
		
		<div class="container title_content">
			<img class="title_content_logo" width="443" src="../../img/title-logo.svg" alt="G-Spot">
			<div class="title_content_text">
				<p>
					Рамки обучения позволяет оценить значение модели развития. Задача организациии, в
					особенности же, новая модель деятельности обеспечивает широкому кругу участие в
					формировании позиции, занимаемых в отношении поставленых задач.
				</p>
			</div>
			<button class="btn btn__color-default btn__lg">Создать свое меню</button>
		</div>
		
		<div class="title_scroll">
			<i class="icon-angle_down"></i>
		</div>
		
	</section>
	
	<main>
		
		<section class="title_section">
			<div class="container">
				
				<h2>Чем полезен GSpot?</h2>
				
				<div class="cards">
					<div class="cards_item">
						<div class="cards_item_img">
							<img src="../../img/Cards2.png" alt="image" height="171">
						</div>
						<div class="cards_item_desc">
							<h3>Решает проблему выбора</h3>
							<p>
								GSpot подскажет что тебе приготовить, чтобы питаться вкусно и полезно.
							</p>
						</div>
					</div>
					
					<div class="cards_item">
						<div class="cards_item_img">
							<img src="../../img/Cards2.png" alt="image" height="171">
						</div>
						<div class="cards_item_desc">
							<h3>Помогает спланировать покупки</h3>
							<p>
								Позволит распланировать покупки продуктов, используя удобный интерфейс.
							</p>
						</div>
					</div>
					
					<div class="cards_item">
						<div class="cards_item_img">
							<img src="../../img/Cards3.png" alt="image" height="171">
						</div>
						<div class="cards_item_desc">
							<h3>Экономит ваше время и деньги</h3>
							<p>
								Подробный спискок покупок сэкономит время и исключит лишние растраты
							</p>
						</div>
					</div>
				</div>
				
			</div>
		</section>
		
		<section class="title_section steps__section">
			<div class="container">
				
				<div class="steps">
					<div class="steps_item">
						<h2>Как это работает?</h2> 
						<ol>
							<li>Перейди в раздел календаря</li>
							<li>Заполни свое меню блюдами из каталога</li>
							<li>Получи подробный список ингредиентов для покупки</li>
							<li>Узнай, где можно приобрести выбранные товары</li>
						</ol>
						<button class="btn btn__color-default btn__lg">Создай свое меню</button>
					</div>
					<div class="steps_item">
						<img class="steps_item_img" src="../../img/aboutpic.png" alt="image">
					</div>
				</div>
				
			</div>
		</section>
		
		<section class="title_section post_section">
			<div class="container">
				
				<div class="adv-heading">
					<h2>Последние статьи</h2>
					<div class="adv-heading_cotrols">
						<a href="#" class="btn btn__color-transparent btn__md">Все статьи</a>
					</div>
				</div>
				
				<ul class="post carousel">
					
					<li class="post_item">
						<a href="#">
							<span class="post_item_img">
								<img src="../../img/item1.jpg" class="recipesec__image" alt="">
							</span>
							<span class="post_item_desc">
								<span class="post_item_title">
									Здоровый выбор шеф-повара Shimo Nakamura
								</span>
								<span class="post_item_p">
									Разнообразный и богатый опыт начало повседневной работы по 
									формированию позиции обеспечивает широкому...
								</span>
								<span class="post_item_attr">
									<span class="date">24.12.2018</span>
									<span class="category">Рецепты</span>
								</span>
							</span>
						</a>
					</li>
					
					<li class="post_item">
						<a href="#">
							<span class="post_item_img">
								<img src="../../img/item2.jpg" class="recipesec__image" alt="">
							</span>
							<span class="post_item_desc">
								<span class="post_item_title">
									Ягодный микс: заряд бодрости на весь день
								</span>
								<span class="post_item_p">
									Разнообразный и богатый опыт начало повседневной работы по
									формированию позиции обеспечивает широкому...
								</span>
								<span class="post_item_attr">
									<span class="date">24.12.2018</span>
									<span class="category">Рецепты</span>
								</span>
							</span>
						</a>
					</li>
					
					<li class="post_item">
						<a href="#">
							<span class="post_item_img">
								<img src="../../img/item3.jpg" class="recipesec__image" alt="">
							</span>
							<span class="post_item_desc">
								<span class="post_item_title">
									Спортивное питание от Олеси Головиной
								</span>
								<span class="post_item_p">
									Разнообразный и богатый опыт начало повседневной работы по
									формированию позиции обеспечивает широкому...
								</span>
								<span class="post_item_attr">
									<span class="date">24.12.2018</span>
									<span class="category">Рецепты</span>
								</span>
							</span>
						</a>
					</li>
					
				</ul>
				
			</div>
		</section>
		
		<section class="title_section feedback_section">
			<div class="container">
				<h2>Отзывы пользователей</h2>
				<ul class="feedback">
					<li class="feedback_item">
						<div class="feedback_item_img">
							<img src="../../img/feedbackwoman.png" alt="image">
						</div>
						<div class="feedback_item_content">
							<h3>Александра</h3>
							<p>
								Равным образом дальнейшее развитие различных форм деятельности
								требуют от нас анализа модели развития. Задача организации, в
								особенности же консультация с широким активом представляет собой
								интересный эксперимент проверки новых предложений.
							</p>
							<a href="#" class="btn btn__color-transparent btn__md">Открыть профиль</a>
						</div>
					</li>
				</ul>
				
			</div>
		</section>
		
	</main>
	
	<footer class="footer">
		<div class="container">
			<div class="footer_left">
				<img class="footer_left_logo" src="../../img/logo.svg" alt="G-Spot" width="146">
				<div class="socials">
					<a href="#" target="_blank" class="socials-item icon-facebook">Facebook</a>
					<a href="#" target="_blank" class="socials-item icon-twitter">Twitter</a>
					<a href="#" target="_blank" class="socials-item icon-google">Google</a>
					<a href="#" target="_blank" class="socials-item icon-instagram">Instagram</a>
				</div>
			</div>
			<div class="footer_center">
				<h3>G-SPOT</h3>
				<nav class="footer_center_nav">
					<ul>
						<li><a href="#">Рецепты</a></li>
						<li><a href="#">О проекте</a></li>
						<li><a href="#">Блог</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</nav>
			</div>
			<div class="footer_right">
				<h3>О ПРОЕКТЕ</h3>
				<p>
					Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности
					обеспечивает широкому кругу (специалистов) участие в формировании форм развития.
					Таким образом дальнейшее развитие различных форм деятельности требуют от нас
					анализа позиций, занимаемых участниками в отношении поставленных задач.
					С другой стороны новая модель организационной деятельности позволяет
					оценить значение существенных финансовых и административных условий.
				</p>
			</div>
		</div>
		<div class="copyright">© 2018 Greenspot</div>
	</footer>
	
</body>
</html>