@font-face {
  font-family: 'muller';
  src: url("fonts/fontfabric_-_mullerbold-webfont.woff2") format("woff2");
  src: url("fonts/fontfabric_-_mullerbold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'muller';
  src: url("fonts/fontfabric_-_mullermedium-webfont.woff2") format("woff2");
  src: url("fonts/fontfabric_-_mullermedium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'muller';
  src: url("fonts/fontfabric_-_mullerregular-webfont.woff2") format("woff2");
  src: url("fonts/fontfabric_-_mullerregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans';
  src: url("fonts/opensans-regular-webfont.woff2") format("woff2");
  src: url("fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-size: 14px;
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  overflow-X: hidden;
}

.container {
  max-width: 1140px;
  min-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  border: none;
  margin: 0 15px 0 0;
  font: 500 12px/18px 'muller', sans-serif;
  padding: 11px 30px;
  text-decoration: none;
  background: #edeefa;
  color: #9589b0;
  cursor: pointer;
  border-radius: 20px;
  text-transform: uppercase;
  outline: none;
  text-align: center;
  vertical-align: middle;
}

.btn.btn__md {
  padding: 16px 50px;
  border-radius: 25px;
}

.btn.btn__lg {
  font: 500 13px/20px 'muller', sans-serif;
  padding: 20px 60px;
  border-radius: 30px;
}

.btn.btn__color-default {
  color: #ffffff;
  background: #7d5f9e;
  background: -webkit-gradient(linear, left top, right top, from(#7d5f9e), to(#59649c));
  background: linear-gradient(to right, #7d5f9e 0%, #59649c 100%);
  -webkit-box-shadow: 0 5px 20px rgba(50, 21, 83, 0.2);
          box-shadow: 0 5px 20px rgba(50, 21, 83, 0.2);
  -webkit-transition: -webkit-box-shadow ease .2s;
  transition: -webkit-box-shadow ease .2s;
  transition: box-shadow ease .2s;
  transition: box-shadow ease .2s, -webkit-box-shadow ease .2s;
}

.btn.btn__color-default:hover {
  -webkit-box-shadow: 0 5px 20px rgba(50, 21, 83, 0.2), 0 0 0 8px rgba(50, 21, 83, 0.2);
          box-shadow: 0 5px 20px rgba(50, 21, 83, 0.2), 0 0 0 8px rgba(50, 21, 83, 0.2);
}

.btn.btn__color-transparent {
  background: none;
  -webkit-box-shadow: inset 0 0 0 2px #9589b0;
          box-shadow: inset 0 0 0 2px #9589b0;
  -webkit-transition: color ease .2s;
  transition: color ease .2s;
}

.btn.btn__color-transparent:hover {
  background: -webkit-gradient(linear, left top, right top, from(#7d5f9e), to(#59649c));
  background: linear-gradient(to right, #7d5f9e 0%, #59649c 100%);
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
}

.title_section {
  margin: 120px 0;
}

.title_section h2 {
  font-size: 44px;
  line-height: 44px;
  color: #615876;
  text-align: center;
  margin: 50px 0 35px;
}

.title_section h2:first-child {
  margin: 0 0 35px;
}

.title_section .adv-heading {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 35px;
}

.title_section .adv-heading:first-child {
  margin: 0 0 35px;
}

.title_section .adv-heading h2 {
  margin: 0;
}

header {
  padding: 25px 0;
  width: 100%;
}

header .header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

header .header_left {
  margin: 0 auto 0 0;
}

header .header_left img {
  display: block;
}

header .header_middle .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

header .header_middle li {
  list-style: none;
}

header .header_middle a {
  display: block;
  font-size: 12px;
  color: #f3f8f9;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  line-height: 20px;
  font-weight: 500;
}

header .header_right {
  margin-left: 20px;
}

header .header_right .btn {
  margin: 0 0 0 10px;
}

header .header_right .btn:first-child {
  margin: 0;
}

header .header_right .btn__color-transparent {
  -webkit-box-shadow: inset 0 0 0 2px #ffffff;
          box-shadow: inset 0 0 0 2px #ffffff;
  color: #ffffff;
}

header .header_right .search_btn {
  display: inline-block;
  margin: 0 0 0 10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: background-color ease .2s;
  transition: background-color ease .2s;
}

header .header_right .search_btn:hover {
  background-color: rgba(50, 21, 83, 0.3);
}

header .header_search {
  position: absolute;
  z-index: 10;
  width: 100%;
  padding: 0 0 0 320px;
  top: -4px;
  right: 16px;
  display: none;
}

header .header_search input[type="text"] {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 24px;
  background: #fff;
  font-size: 14px;
  padding: 0 30px;
  outline: none;
  color: #353535;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

header .header_search button {
  display: block;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: background-color ease .2s;
  transition: background-color ease .2s;
  position: absolute;
  top: 4px;
  right: 4px;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: #615876;
}

header .header_search button .icon-search {
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}

header .header_search button:hover {
  background-color: rgba(50, 21, 83, 0.6);
  color: #ffffff;
}

header.menu-active {
  background-color: #5c556b;
  position: relative;
}

header.menu-active .header_container {
  position: static;
}

header.menu-active .header_catalog {
  display: block;
}

header .header_catalog {
  text-align: left;
  padding: 30px 0 70px;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  color: #353535;
  display: none;
}

header .header_catalog .header_catalog_tabs {
  min-width: 1000px;
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto 40px;
  position: relative;
  font-size: 0;
}

header .header_catalog .header_catalog_tabs::after {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  left: 20px;
  right: 20px;
  bottom: 0;
  background: #edeefa;
}

header .header_catalog .header_catalog_tabs span {
  display: inline-block;
  padding: 14px 30px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  position: relative;
  z-index: 10;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow ease .2s;
  transition: -webkit-box-shadow ease .2s;
  transition: box-shadow ease .2s;
  transition: box-shadow ease .2s, -webkit-box-shadow ease .2s;
  color: #b5b3be;
}

header .header_catalog .header_catalog_tabs span.active {
  color: #615876;
  -webkit-box-shadow: inset 0 -2px 0 0 #615876;
          box-shadow: inset 0 -2px 0 0 #615876;
}

header .header_catalog .header_catalog_tabs span:hover:not(.active) {
  -webkit-box-shadow: inset 0 -2px 0 0 #cecdd5;
          box-shadow: inset 0 -2px 0 0 #cecdd5;
}

header .header_catalog .header_subnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-width: 1000px;
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

header .header_catalog .header_subnav_item {
  max-width: 160px;
  margin: 0 60px 0 0;
  text-align: center;
}

header .header_catalog .header_subnav_item a {
  color: #353535;
  display: block;
  padding: 0;
  text-transform: none;
  font-weight: 400;
}

header .header_catalog .header_subnav_item img {
  display: block;
  width: 128px;
  margin: 0 auto 15px;
}

header .header_catalog .header_subnav_item span {
  display: block;
  font-size: 15px;
  line-height: 17px;
  color: #615876;
}

.footer {
  background: #4c455c;
  background: -webkit-gradient(linear, left top, right top, from(#4f495c), to(#4a425c));
  background: linear-gradient(to right, #4f495c 0%, #4a425c 100%);
  color: #fff;
  padding: 85px 0 0;
}

.footer h3 {
  font-size: 16px;
  line-height: 18px;
  margin: 40px 0 30px;
}

.footer h3:first-child {
  margin: 0 0 30px;
}

.footer p {
  font-size: 13px;
  line-height: 20px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer_left {
  width: 25%;
  padding: 0 30px 0 0;
}

.footer .footer_left .footer_left_logo {
  display: block;
  width: 146px;
  margin: 0 0 30px;
}

.footer .footer_left .socials {
  font-size: 0;
}

.footer .footer_left .socials a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  background: #fff;
  color: #9589b0;
  text-decoration: none;
  vertical-align: middle;
  margin: 0 10px 0 0;
  -webkit-transition: -webkit-box-shadow ease .2s;
  transition: -webkit-box-shadow ease .2s;
  transition: box-shadow ease .2s;
  transition: box-shadow ease .2s, -webkit-box-shadow ease .2s;
}

.footer .footer_left .socials a:hover {
  -webkit-box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.1);
  color: #756bca;
}

.footer .footer_left .socials a.icon-facebook::before {
  font-size: 18px;
  line-height: 40px;
}

.footer .footer_left .socials a.icon-twitter::before {
  font-size: 18px;
  line-height: 40px;
}

.footer .footer_left .socials a.icon-google::before {
  font-size: 21px;
  line-height: 40px;
}

.footer .footer_left .socials a.icon-instagram::before {
  font-size: 18px;
  line-height: 40px;
}

.footer .footer_center {
  width: 17%;
  padding: 0 30px 0 0;
}

.footer .footer_center .footer_center_nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer .footer_center .footer_center_nav ul li {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  font-size: 13px;
  line-height: 18px;
}

.footer .footer_center .footer_center_nav ul a {
  color: #ffffff;
  text-decoration: none;
}

.footer .footer_center .footer_center_nav ul a:hover {
  text-decoration: underline;
}

.footer .footer_right {
  width: 58%;
}

.footer .copyright {
  text-align: center;
  font-size: 11px;
  line-height: 18px;
  padding: 45px 0;
}

/*#region X title ----------------------- */
.title {
  background-image: url(../../img/title-bg.png), -webkit-gradient(linear, left top, right top, from(#0cd49f), to(#8f7bb3));
  background-image: url(../../img/title-bg.png), linear-gradient(to right, #0cd49f, #8f7bb3);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title .container {
  margin: auto;
}

.title.title_main {
  min-height: 100vh;
  position: relative;
}

.title .title_scroll {
  margin: 0 0 30px;
}

.title .title_scroll .icon-angle_down {
  display: block;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin: 13px;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.1), 0 0 0 13px rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 18px rgba(0, 0, 0, 0.1), 0 0 0 13px rgba(255, 255, 255, 0.2);
}

.title .btn__color-default:hover {
  -webkit-box-shadow: 0 5px 20px rgba(50, 21, 83, 0.2), 0 0 0 8px rgba(255, 255, 255, 0.2);
          box-shadow: 0 5px 20px rgba(50, 21, 83, 0.2), 0 0 0 8px rgba(255, 255, 255, 0.2);
}

.title_content .title_content_logo {
  display: block;
  margin: 0 auto 40px;
  max-width: 443px;
}

.title_content .title_content_text {
  max-width: 730px;
  margin: 0 auto 33px;
  font-size: 16px;
  line-height: 22px;
}

/*#endregion X title -------------------- */
/*#region X cards ----------------------- */
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 0 0;
}

.cards .cards_item {
  width: 33.333%;
  text-align: center;
  padding: 0 20px;
}

.cards .cards_item_img {
  margin: 0 0 34px;
}

.cards .cards_item_img img {
  display: block;
  height: 176px;
  margin: 0 auto;
}

.cards .cards_item_desc {
  max-width: 300px;
  margin: 0 auto;
}

.cards .cards_item_desc h3 {
  font-size: 18px;
  line-height: 24px;
  color: #615876;
  margin: 0 0 20px;
}

.cards .cards_item_desc p {
  font: 13px/21px 'open_sans', sans-serif;
  margin: 0;
  color: #656565;
}

/*#endregion X cards -------------------- */
/*#endregion X steps -------------------- */
.steps__section {
  background-image: url(../../img/title-bg.png), -webkit-gradient(linear, left top, right top, from(#0cd49f), to(#8f7bb3));
  background-image: url(../../img/title-bg.png), linear-gradient(to right, #0cd49f, #8f7bb3);
  color: #ffffff;
}

.steps__section.title_section {
  padding: 0;
}

.steps__section .btn__color-default:hover {
  -webkit-box-shadow: 0 5px 20px rgba(50, 21, 83, 0.2), 0 0 0 8px rgba(255, 255, 255, 0.2);
          box-shadow: 0 5px 20px rgba(50, 21, 83, 0.2), 0 0 0 8px rgba(255, 255, 255, 0.2);
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.steps_item {
  width: 50%;
  position: relative;
  padding: 110px 0 135px;
}

.steps_item h2 {
  color: #ffffff;
  text-align: left;
}

.steps_item .steps_item_img {
  position: absolute;
  height: 109%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.steps_item ol {
  padding: 13px 0;
  margin: 0;
  list-style: none;
  counter-reset: number;
}

.steps_item ol li {
  margin: 0 0 36px;
  padding: 8px 0 0 78px;
  list-style-type: none;
  font-size: 16px;
  line-height: 17px;
  position: relative;
  min-height: 34px;
}

.steps_item ol li::before {
  counter-increment: number;
  content: counter(number);
  display: block;
  background-color: rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.1), 0 0 0 13px rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 18px rgba(0, 0, 0, 0.1), 0 0 0 13px rgba(255, 255, 255, 0.2);
  width: 34px;
  height: 34px;
  line-height: 34px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  left: 13px;
  top: 0;
}

/*#region X steps ----------------------- */
/*#region X posts ----------------------- */
.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 67px -15px 0;
  padding: 0;
  list-style: none;
}

.post .post_item {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 33.333%;
  padding: 0 15px;
  text-align: center;
}

.post .post_item > a {
  display: block;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.18);
  overflow: hidden;
  text-decoration: none;
}

.post .post_item > a:hover .post_item_img::before {
  background-color: rgba(255, 255, 255, 0);
}

.post .post_item_img {
  display: block;
  height: 253px;
  position: relative;
  overflow: hidden;
  margin: 0 0 34px;
}

.post .post_item_img::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 10;
  -webkit-transition: background-color ease .2s;
  transition: background-color ease .2s;
}

.post .post_item_img img {
  position: absolute;
  display: block;
  width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity ease .25s;
  transition: opacity ease .25s;
}

.post .post_item_desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px 40px;
}

.post .post_item_title {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #615876;
  margin: 0 0 20px;
  height: 48px;
  overflow: hidden;
  font-weight: 500;
  color: #615876;
}

.post .post_item_p {
  display: block;
  font: 13px/21px 'open_sans', sans-serif;
  margin: 0 0 30px;
  color: #656565;
  max-height: 63px;
  overflow: hidden;
}

.post .post_item_attr {
  display: block;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  border-radius: 25px;
  background-color: #edeefa;
  color: #656565;
  font-size: 0;
}

.post .post_item_attr span {
  display: inline-block;
  font: 13px/25px 'open_sans', sans-serif;
  padding: 0 10px;
  position: relative;
}

.post .post_item_attr span:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 13px;
  background-color: #656565;
  right: 0;
  top: 6px;
}

/*#endregion X posts -------------------- */
/*#region X feedback -------------------- */
.feedback_section .container {
  position: relative;
}

.feedback_section .container > h2 {
  position: absolute;
  width: 60%;
  left: 40%;
  top: 105px;
  padding-left: 30px;
  text-align: left;
}

.feedback {
  padding: 0;
  margin: 0;
  list-style: none;
}

.feedback_item {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.feedback_item .feedback_item_img {
  width: 40%;
  padding: 0 45px 0 0;
}

.feedback_item .feedback_item_img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.feedback_item .feedback_item_content {
  width: 60%;
  padding: 182px 0 0 30px;
}

.feedback_item .feedback_item_content h3 {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 10px;
  font-weight: 500;
  color: #615876;
}

.feedback_item .feedback_item_content p {
  font: 13px/21px 'open_sans', sans-serif;
  color: #656565;
  margin: 0 0 45px;
}

/*#endregion X feedback ----------------- */
/*# sourceMappingURL=style.css.map */