$textColor: #f3f8f9;
$marginLeft: 130px;
$mainColor: #533a53;
   

html, body
  margin: 0
  padding: 0
  height: 100%
  min-height: 100%
  font-size: 14px
  font-family: 'Poppins', sans-serif


header
  height: 160px
  background-image:  url("../../img/bg1.png")
  display: flex
  align-items: flex-start
  padding-top: 30px
  background: linear-gradient(to right, #0cd49f, #8f7bb3)


  .header_left
  	width: 100px
  	 


  .buttons_top
  	margin-left: 20px

  	.ButtonPurp
  		background-image: linear-gradient(to right, #996699, #666699)
  		border: none
  		border-radius: 20px
  		margin-bottom: 5px
  		color: $textColor
  		font-size: 12px
  		height: 40px
    width: 170px

	

  .header_container
  	width: 90%
  	margin: 0 auto;
  	justify-content: center
  	display: flex;
  	align-items: center;


  	ul
  		display: flex

  	li
  		list-style: none
  		margin-left: 18px

	  a
        display: inline-block
        margin-left: 40px
        font-size: 12px
        color: $textColor
        text-transform: uppercase
        text-decoration: none

  	#header__buttonright
  		border: 1px solid
  	

	
section
	background-image: linear-gradient(to right, #0cd49f, #8f7bb3), url("../../img/bg1.png");
	text-align: center
	margin: 0 auto;

	#top_section__p
		color: $textColor
		margin-top: 50px

	

.cardBlock
	padding: 130px 0 80px 0
	background-image: none

	h3
		margin-bottom: 80px
		font-size: 44px
		color: #533a53

	h5
		font-size: 18px
	
	p
		font-size: 13px

.topCard
	justify-content: space-between

.cardsContainer
	display: flex
	justify-content: space-around
	margin-left: 430px
	width: 60%


	.bottomCard
		position: relative
		top: -20px
			
.ButtonPurp2
	border: none
	border-radius: 50px
	height: 60px
	margin: 40px 0 130px 0
	width: 270px
	background-image: linear-gradient(to right, #996699, #666699)
	color: $textColor
  	font-size: 12px

.wrapper
	width: 80%
	margin: 0 auto

.main__about
	display: flex	

.about__left
	padding: 115px 0 115px 250px

	h1
		display: inline-block
		font-size: 44px
		margin-bottom 20px
		color: $textColor

	li
		padding: 0 0 60px 20px
		color: $textColor
		display: list-item	
		text-align: left

	button
		margin: 0 0 0 0
		margin-left: -110px

.about__right
	margin-left: 70px


.recipesec
	background-image: none
	width: 60%
	text-align: center
	padding

	.recipesec__top
		display: flex
		padding-top: 115px
		align-items: center
		justify-content: space-between
		

		h1
			color: #663399
			margin-left: 30px
			font-size: 44px

		button	
			border: 1px solid #663399
			background-color: white
			height: 50px
			width: 175px
			border-radius: 35px
			color: #663399
			



.recipesec__cards
	padding-top: 70px
	justify-content: space-between
	display: flex
	border-radius: 4px

	.card
		margin-left: 30px

	.recipesec__image
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		width: 345px
		height: 250px


.feedback
	padding-top: 60px
	background-image: none
	text-align: left

.feedback_main
	display: flex
	justify-content: center
	padding-bottom: 100px

	h1,
		font-size: 44px
		color: #663366
		padding-top: 30px
	
	h6
		font-size: 18px
		color: #663366
		margin: 45px 0 22px 0
	
	.feedback__button
		border: 1px solid #663399
		background-color: white
		height: 50px
		width: 240px
		border-radius: 25px
		color: #663399
		margin-top: 50px

	.feedback__left
		margin-right: 115px

footer
	background-color: #533a53
	height: 430px
	
	#footer__gspot
		margin-left: 38px

	p, li
		color: white
		font-size: 13px
		list-style: none

	li
		margin-top: 18px	

	h5
		font-size: 16px
		color: white	

	h6
		font-size: 11px
		color: white
		text-align: center	
		padding-top: 100px
		


	.footer	
    	margin: 0 auto
    	grid-column-gap: 2%
    	width: 55%
    	height: 145px
    	display: grid
    	grid-template-columns: 20% 15% 60%
    	padding-top: 82px

    	.footer__left
    		margin-top: 32px

	

 

  	







